@import './fonts';

// Colors
$grayTextColor: rgba(44, 44, 44, 0.4);
$blackColor: rgba(44, 44, 44, 1);
$redColor: rgb(225, 37, 27);
$headNavGrayColor: rgba(249, 249, 249, 0.6);
$whiteColor: rgb(255, 255, 255);

// Fonts
$montserratFont: 'Montserrat', sans-serif;
$ralewayFont: 'Raleway', sans-serif;