@import './vars';
@import './fonts';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ralewayFont;
}

button {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

// Classes
.redText {
  color: $redColor;
}

.boldText {
  font-weight: bold;
}